<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"class="black-link"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new" class="btn btn-outline-dark">New Place</a>
</p>